* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    position: relative;
    width: 800px;
    height: 800px;
    margin: 0 auto;
    border: 2px solid black;
}


.avatar {
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    border-radius: 50%;
    background: rgb(100, 3, 144);
    background: linear-gradient(90deg, rgba(100, 3, 144, 1) 18%, rgba(181, 0, 116, 1) 60%, rgba(255, 0, 0, 1) 100%);
}

.box{
    width: 370px;
    height: 370px;
    margin: 0 auto;
    border-radius: 50%;
    background: rgb(199, 199, 199);
    border: 10px solid white;
}

.status{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgb(148, 237, 13);
    border: 10px solid white;
    position: absolute;
    left: 43.8%;
    top: 42.5%;
    z-index: -1;
}


/*
Psevdo elementlar 
3. ::before
4. ::after 
*/

h1::after{
    content: 'After';
}

h1::before{
    content: 'before';
}

